@import '@/uni_modules/uni-scss/variables.scss';

// #ifdef H5
$base-font-size: 136.6; // var(--ko-html-size);
$--ko-print-font-size: 11pt;


// 打印模块的样式
@mixin print-style() {
  font-family: "华文楷体", "KaiTi", sans-serif;
  font-size: calc(var(--ko-paper-min-height, 16px) - 2px);
}

// 打印模块标题的样式
@mixin print-header-style() {
  font-family: "Microsoft YaHei", Arial, sans-serif;
  font-weight: bold;
  font-size: 18pt;
}

// 天科打印模块的样式
@mixin tk-print-style() {
  font-family: "华文楷体", "KaiTi", sans-serif;
  font-size: 13px;
  min-height: 14px;
  line-height: 14px;
}

// #endif

$ko-basic-border: 0.5px solid #dcdcdc;
$ko-primary-color: #2979ff;

// 超出换行
@mixin basic-text-ellipsis($line: 2, $lineHeight: 1.3em) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc($lineHeight * $line);
  line-height: $lineHeight;
}
